.container_12
  %h1 Html2Haml
  %p{:style => "margin:0px;"} Convert Html Snippets to Haml Snippets
  %hr
  
  .grid_9
    %p Enter url of page you would like to convert to haml
    = haml :url_form, :layout => false
    %p or paste you html in the text area below
    = haml :form, :layout => false
  .grid_3
    = haml :sidebar
  .clear