!!!
%html{ :'ng-app' => true }
  %head
    %title HTML2Haml | Convert HTML Snippets to Haml
    - %w{ reset text 960 app }.each do |css|
      %link{ :href => "/stylesheets/#{css}.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %meta{ :name => 'description', :content => 'Convert Html Code to Haml Code'  }
    %meta{ :name => 'keywords', :content => 'haml, ruby, html, rails, ruby on rails'  }
  %body
    %h6
      %a{:href => "http://haml-lang.com/"} Haml
    = yield

    %script{ :src => 'http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.1/angular.min.js'}
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-9459466-1");
      pageTracker._trackPageview();
      } catch(err) {}