#box
  %p
    %span{:style => 'color:red;font-size:1.2em;'}
      Updated to Haml 3.0.24
      %br/
      And Includes :erb support
#box
  %p
    Need css to sass?
    %br
    Check out 
    %a{:href => "http://css2sass.heroku.com", :style => 'color:orange;font-size:1.2em;'} css2sass
    by Jose Pablo Barrantes. 
    %hr

  %img{:src => 'http://jackhq.s3.amazonaws.com/images/jackhq-small.png'}
  %p
    This simple site created by Jack Russell Software...
    %a{:href => "http://www.jackhq.com"} http://www.jackhq.com
  %p 
    Follow us on twitter [@jackhq](http://twitter.com/jackhq) for updates or support
  %p
    Source at
    %a{:href => "http://github.com/twilson63/html2haml"} http://github.com/twilson63/html2haml