#box
  %p
    %span{:style => 'color:green;font-size:1.2em;'}
      Updated to Haml 3.1.6
#box
  %p
    %a{:href => 'http://js2cs.nodejitsu.com'} Convert Javascript to Coffeescript
#box
  %p
    %a{:href => 'http://cs2js.nodejitsu.com'} Convert Coffeescript to Javascript
#box
  %a{:href => 'http://www.jackhq.com'}
    %img{:src => 'http://jackhq.s3.amazonaws.com/images/jackhq-small.png'}
#box
  %a.twitter-share-button{"data-text" => "HTML2HAML => Convert your Html to Haml", "data-url" => "http://html2haml.heroku.com", :href => "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");