#box
  %p
    %span{:style => 'color:green;font-size:1.2em;'}
      Updated to Haml 3.1.1
#box
  %h3 Want to convert CSS to SASS
  %p
    Check out
    %a{:href => "http://css2sass.heroku.com", :style => 'color:orange;font-size:1.2em;'} css2sass
    by Jose Pablo Barrantes.
    %hr

  %img{:src => 'http://jackhq.s3.amazonaws.com/images/jackhq-small.png'}
