#box
  %p
    %span{:style => 'color:green;font-size:1.2em;'}
      Updated to Haml 3.1.6
#box
  %p
    %a{:href => 'http://js2cs.nodejitsu.com'} Convert Javascript to Coffeescript
#box
  %p
    %a{:href => 'http://cs2js.nodejitsu.com'} Convert Coffeescript to Javascript
#box
  %a{:href => 'http://www.jackhq.com'}
    %img{:src => 'http://jackhq.s3.amazonaws.com/images/jackhq-small.png'}
