#box
  %p
    %span{:style => 'color:green;font-size:1.2em;'}
      Updated to Haml 3.1.6
#box
  %h3 CodeRetreat Hack Event
  %h5 Charleston, SC
  %h5 June 23
  %p
    
    %a{:href => 'http://coderetreatchs.jackhq.com/', :style => 'color:rgba(0,0,0, .6);font-size:1.2em;'} Get More Details
    
#box
  %a{:href => 'http://www.jackhq.com'}
    %img{:src => 'http://jackhq.s3.amazonaws.com/images/jackhq-small.png'}
